<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aplikasi Aljabar Vektor dalam Sistem Temu Balik Gambar</title>

        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <header>
            <h1>
                Reverse Image Search
            </h1>

            <nav>
				<ul>
					<li>
						<a href="{{ url_for('home') }}">Home</a>
					</li>
					<li>
						<a href="{{ url_for('about') }}">About us</a>
					</li>
					<li>
						<a href="{{ url_for('concept') }}">Brief concept</a>
					</li>
                    <li>
						<a href="{{ url_for('how') }}">How to use</a>
					</li>
				</ul>
			</nav>
        </header>
        <main>
            <div id="about-container">
                <div class="tentang">
                    <p>Panji Sri Kuncara Wisma / 13522028</p>
                    <p>Email: 13522028@std.itb.ac.id</p>
                    <p>Github: PanjiSri</p>
                </div>
                <div class="tentang">
                    <p>Imam Hanif Mulyarahman / 13522030</p>
                    <p>Email: 13522030@std.itb.ac.id</p>
                    <p>Github: HanifIHM</p>
                </div>
                <div class="tentang">
                    <p>Bryan Cornelius Lauwrence / 13522033</p>
                    <p>Email: 13522033@std.itb.ac.id</p>
                    <p>Github: BryanLauw</p>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>