<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aplikasi Aljabar Vektor dalam Sistem Temu Balik Gambar</title>

        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <header>
            <h1>
                Reverse Image Search
            </h1>

            <nav>
				<ul>
					<li>
						<a href="{{ url_for('home') }}">Home</a>
					</li>
					<li>
						<a href="{{ url_for('about') }}">About us</a>
					</li>
					<li>
						<a href="{{ url_for('concept') }}">Brief concept</a>
					</li>
                    <li>
						<a href="{{ url_for('how') }}">How to use</a>
					</li>
				</ul>
			</nav>
        </header>
        <main>
            <form method="POST" action="" enctype="multipart/form-data" id="masukkan">
                <label for="gambar">Pilih Gambar:<br></label>
                <input type="file" accept="image/*" name="gambar" class="masukkanGambar" required>
                <br>
                <label for="dataset">Pilih Dataset:<br></label>
                <input type="file" accept=".zip, .rar, .7zip/*" class="masukkanGambar" name="dataset" required>

                <section id="toggleButton">
                    <input type="radio" name="metode" id="Color" value="yes" checked="checked">
                    <label for="Color">Color</label>

                    <input type="radio" name="metode" id="Texture" value="no">
                    <label for="Texture">Texture</label>
                </section>

                <input type="submit" value="Search">
            </form>
            
            <div id="query">
                <h3>Query Image</h3>
                {% if gambar %}
                    <img src="{{gambar}}" alt="query image">
                {% endif %}
            </div>
            <hr>
            <div>
                <h3>Result</h3>
                {% if time %}
                    <p id="timeCount">{{len}} gambar dalam {{time}} detik</p>
                {% endif %}
                {% if len %}
                <div id="pagination-container"></div>

                <div id="image-container">
                    {% for el in data %}
                    <figure>
                        <img src="../static/upload/dir/{{el.picture}}">
                        <figcaption>{{ el.percentage }}%</figcaption>
                    </figure>
                    {% endfor %}
                </div>

                <script>
                    function showPage(page) {
                        const items = document.querySelectorAll('#image-container figure');
                        const itemsPerPage = 18;
                
                        items.forEach((item, index) => {
                            if (index >= (page - 1) * itemsPerPage && index < page * itemsPerPage) {
                                item.style.display = 'block';
                            } else {
                                item.style.display = 'none';
                            }
                        });
                
                        const links = document.querySelectorAll('#pagination-container a');
                        links.forEach(link => link.classList.remove('active'));
                
                        const activeLink = document.getElementById(`page-${page}`);
                        if (activeLink) {
                            activeLink.classList.add('active');
                        }
                    }
                
                    showPage(1);
                
                    const totalPages = Math.ceil({{ len }} / 18);
                    const paginationContainer = document.getElementById('pagination-container');
                
                    for (let i = 1; i <= totalPages; i++) {
                        const link = document.createElement('a');
                        link.href = '#';
                        link.id = `page-${i}`;
                        link.textContent = i;
                        link.addEventListener('click', (event) => {
                            event.preventDefault();
                            showPage(i);
                        });
                
                        paginationContainer.appendChild(link);
                    }

                    page1 = document.getElementById('page-1');
                    page1.classList.add('active');
                </script>                
                {% endif %}
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>