<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aplikasi Aljabar Vektor dalam Sistem Temu Balik Gambar</title>

        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <header>
            <h1>
                Reverse Image Search
            </h1>
        </header>
        <main>
            <form method="POST" action="" enctype="multipart/form-data">
                <label for="gambar">Pilih Gambar:<br></label>
                <input type="file" accept="image/*" name="gambar" required>
                <br>
                <label for="dataset">Pilih Dataset:<br></label>
                <input type="file" accept=".zip, .rar, .7zip/*" name="dataset" required>

                <section id="toggleButton">
                    <input type="radio" name="metode" id="Color" value="yes" checked="checked">
                    <label for="Color">Color</label>

                    <input type="radio" name="metode" id="Texture" value="no">
                    <label for="Texture">Texture</label>
                </section>

                <input type="submit" value="Search">
            </form>
            
            <div class="result">
                {% if gambar and ar_cos %}
                    <img src="{{gambar}}" alt="query image">
                    
                    <br>
                    {% for el in ar_cos %}
                        <p>Tingkat kemiripan: {{el}}%</p> <br>
                    {% endfor %}
                {% endif %}
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>